.admin-section{
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    margin-top:25px;
}

.admin-section h2{
    color:#2E7D32;
    margin-bottom:15px;
}

.admin-section p{
    color:#666;
    font-size:17px;
}