/* ==========================
   FOOTER
========================== */

.footer{
    background:#16351d;
    color:#fff;
    padding:70px 8% 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:40px;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
}

.footer-logo h2{
    font-size:28px;
}

.logo-icon{
    font-size:30px;
    color:#6ddc74;
}

.footer-box p{
    color:#d6d6d6;
    line-height:1.8;
    margin-bottom:15px;
}

.footer-box h3{
    margin-bottom:20px;
    font-size:22px;
}

.footer-box ul{
    list-style:none;
    padding:0;
}

.footer-box ul li{
    margin-bottom:12px;
    cursor:pointer;
    color:#d6d6d6;
    transition:.3s;
}

.footer-box ul li:hover{
    color:#6ddc74;
    padding-left:6px;
}

.footer-box p svg{
    margin-right:10px;
    color:#6ddc74;
}

.social-icons{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.social-icons a{
    width:42px;
    height:42px;
    background:#25552f;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    text-decoration:none;
    transition:.3s;
}

.social-icons a:hover{
    background:#2E7D32;
    transform:translateY(-5px);
}

.footer-bottom{
    margin-top:50px;
    border-top:1px solid rgba(255,255,255,.15);
    padding-top:20px;
    text-align:center;
    color:#cfcfcf;
}

@media(max-width:768px){

.footer{
padding:60px 6% 20px;
}

.footer-container{
grid-template-columns:1fr;
text-align:center;
}

.footer-logo{
justify-content:center;
}

.social-icons{
justify-content:center;
}

}