.admin-sidebar{
    width:250px;
    min-height:100vh;
    background:#1e3a8a;
    color:white;
    padding:20px;
}

.admin-sidebar h2{
    text-align:center;
    margin-bottom:40px;
}

.admin-sidebar nav{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.admin-sidebar nav a{
    display:flex;
    align-items:center;
    gap:12px;
    text-decoration:none;
    color:white;
    padding:12px;
    border-radius:8px;
    transition:.3s;
}

.admin-sidebar nav a:hover{
    background:rgba(255,255,255,.15);
}

.admin-sidebar nav a.active{
    background:white;
    color:#1e3a8a;
    font-weight:bold;
}