.admin-sidebar{
    width:250px;
    min-height:100vh;
    background:#1E293B;
    color:white;
    padding:20px;
    position:sticky;
    top:0;
}

.sidebar-logo{
    text-align:center;
    font-size:24px;
    font-weight:bold;
    margin-bottom:40px;
}

.sidebar-logo span{
    display:block;
    margin-top:10px;
}

.admin-sidebar nav{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.admin-sidebar nav a{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
    text-decoration:none;
    padding:14px;
    border-radius:10px;
    transition:.3s;
}

.admin-sidebar nav a:hover{
    background:rgba(255,255,255,.15);
}

.admin-sidebar nav a.active{
    background:white;
    color:#1E293B;
    font-weight:600;
}

.admin-sidebar svg{
    font-size:18px;
}