.dashboard-cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

    gap:25px;

    margin-bottom:40px;

}

.card{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

.card-icon{

    font-size:35px;

    color:#2E7D32;

    margin-bottom:20px;

}

.card h3{

    color:#666;

    margin-bottom:10px;

}

.card h2{

    color:#222;

}