.farmer-dashboard{
    display:flex;
    min-height:100vh;
    background:#F5F7FA;
}

.dashboard-content{
    flex:1;
    padding:30px;
    overflow-y:auto;
}

.dashboard-card{
    background:#fff;
    padding:25px;
    border-radius:12px;
}

.crop-table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.crop-table th,
.crop-table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

.crop-table th{
    background:#2e7d32;
    color:white;
}

.crop-table button{
    margin:0 5px;
    padding:6px 12px;
    cursor:pointer;
}